{% extends 'base.html' %}

{% block content %}
<div class="">
  <section>
    <div class="container mt-5">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="container default-font">
            First item
          </div>
        </li>
        <li class="list-group-item default-font">
          <div class="container default-font">
            Second item
          </div>
        </li>
        <li class="list-group-item default-font">
          <div class="container default-font">
            Third item
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}
