{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="">
      <section>
        <div class="container mt- mx-auto" style="max-width: 600px;">
            {% if orderItems|length > 0 %}
            <div class="d-flex align-items-center justify-content-between mt-5 mb-5">
              <div class="">
                <div class="">
                  <button
                    id="order-btn"
                    class="btn btn-primary default-font"
                    type="button"
                    name="button"
                    style="font-size: .9rem;">
                    ORDER NOW
                  </button>
                </div>
              </div>
              <div>
                <h5 class="text-dark default-font mt-1 mb-1">Total ${{ totalPrice|intcomma }}</h5>
              </div>
            </div>
            <div class="">
              <ul class="list-group">
                {% for order in orderItems %}
                  <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="">
                        <h5 class="text-dark default-font mt-1 mb-1">{{ order.title }}</h5>
                        <p class="text-dark default-font mt-1 mb-1" style="font-size: .9rem;">${{ order.price|intcomma }}</p>
                      </div>
                      <div class="">
                        <a href="/cart-delete-item/{{order.productId}}" class="btn btn-outline-danger default-font" style="font-size: .9rem;">DELETE</a>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
            {% else %}
              <h1> There aren't items in the Cart. </h1>
            {% endif %}
        </div>
      </section>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      var stripe = Stripe('pk_test_51HQlYBKVWRemJMNbcXe7ODXZw4HlX74yIhiUXgSop87ZCLWbdZNuoIBUSEJtMBja0z3jZMIAyZFm1p2aPYv5Dwfi00drAYk7lq')
      var orderBtn = document.getElementById('order-btn');
      orderBtn.addEventListener('click', function() {
        stripe.redirectToCheckout({
          sessionId: '{{ id }}'
        });
      })
    </script>
{% endblock %}
