<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vinylsmind administration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <div class="wrapper" id="wrapper">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        {% include "includes/admin-navigation.html" %}
      </nav>
      <div class="container mt-5">
          <section>
            <div class="container mt-5">
              <div class="col-lg-4 col-md-8 col-sm-12 col-12 mx-auto">
                <form>
                  <div class="form-group">
                    <label for="productId"
                      class="default-font">
                      Product Id
                    </label>
                    <input type="text" class="form-control default-font" name="productId" id="productId">
                  </div>
                  <div class="form-group">
                    <label for="title" class="default-font">Title</label>
                    <input type="text" class="form-control default-font" name="title" id="title">
                  </div>
                  <div class="form-group">
                    <label for="price" class="default-font">Price</label>
                    <input type="number" class="form-control default-font" name="price" id="price">
                  </div>
                  <div class="form-group">
                    <label for="description" class="default-font">Description</label>
                    <input type="text" class="form-control default-font" name="description" id="description">
                  </div>
                  <div class="form-group">
                    <label for="image" class="default-font">Image</label>
                    <input type="file" class="default-font" name="image" id="image">
                  </div>
                  <div class="form-group">
                    <label for="category" class="default-font">Category</label>
                    <select id="category" name="category" class="form-control">
                        {% for cat in categorias%}
                        <option value="{{cat.idCategoria}}">{{cat.nombreCategoria}}</option>

                        {% endfor %}
                    </select>
                  </div>
                </form>
              </div>
            </div>
          </section>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
