<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuieroVinilos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <!-- navbar-light bg-light border -->
    <div class="navbar-light bg-light border">
        <div class="container">
            <nav class="navbar navbar-expand-lg pt-3 pb-3">
                <a class="navbar-brand" href="#"> 
                  Vinyls Shop
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
                  <span class="navbar-toggler-icon">
                  </span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link custom-nav" href="#">
                          CATÁLOGO
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link custom-nav" href="#">
                        CARRO
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link custom-nav" href="#">
                        CONTACTO
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </div>
    
    <div class="container">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>