<div class="container">
  <a href="/admin-products" class="navbar-brand default-font">Vinylsmind administration</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#nav">
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link default-font" href="/admin-products" style="font-size: .8rem;">
          WELCOME, {{ user.username|upper }}.
        </a>
      </li>
    </ul>
  </div>
</div>
