<div class="container">
  <a href="/" class="navbar-brand default-font">Vinylsmind</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#nav">
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/products" class="nav-link default-font">
          Catalogo
        </a>
      </li>
      {% if perms.core.add_product %}
      <li class="nav-item">
        <a href="/" class="nav-link default-font">
          Admin Products
        </a>
      </li>
      {% endif %}

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a href="/logout" class="nav-link default-font">
          Logout
        </a>
      </li>
      <li class="nav-item">
        <a href="/" class="nav-link default-font">
          {{ user.username|upper }}
        </a>
      </li>
      <li class="nav-item">
        <a href="/cart" class="nav-link default-font">
            <i class="fas fa-shopping-cart" style="font-size: .8rem;"></i>
            {{ items }}
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="/login" class="nav-link default-font">
           Log In
        </a>
      </li>
      <li class="nav-item">
        <a href="/signup" class="nav-link default-font">
          Sign In
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
